          /*Navbar */
          /*________ */
          
          .NavContainer {
              width: 100%;
              background-color: transparent;
              z-index: 1000;
          }
          
          .NavOuter {
              width: 70%;
              margin: 0 auto;
              height: 60px;
              padding: 0;
              background-color: #ffffff;
              border-style: inset;
              border: 1px solid #727272;
              border-radius: 0px 0px 5px 5px;
          }
          
          .NavBodySmall {
              margin: auto;
              height: 90%;
              padding: 0;
              background-color: black;
              border: 1px solid rgb(195, 195, 195);
              border-radius: 0px 0px 5px 5px;
          }
          
          .Badge {
              /*  Always remeber that to align the text of an anchor tag inside a division set the parents text align to center! */
              text-align: center;
              height: 100%;
              width: 99%;
              display: flex;
              justify-content: center;
              line-height: 1px;
              padding-top: 0.5rem;
          }
          
          .badgeText {
              text-decoration: none;
              text-transform: uppercase;
              color: white;
              letter-spacing: 15px;
              font-family: "Montserrat ExtraLight";
              font-size: 15px;
              padding-left: 15px;
              padding-top: 5%;
              text-align: center;
              display: grid;
              place-items: center;
              align-items: center;
              text-underline: none;
          }
          /* Extra small devices (phones, 600px and down) */
          
          @media only screen and (max-width: 600px) {}
          /* Small devices (portrait tablets and large phones, 600px and up) */
          
          @media only screen and (min-width: 600px) {}
          /* Medium devices (landscape tablets, 768px and up) */
          
          @media only screen and (min-width: 768px) {}
          /* Large devices (laptops/desktops, 992px and up) */
          
          @media only screen and (min-width: 992px) {}
          /* Extra large devices (large laptops and desktops, 1200px and up) */
          
          @media only screen and (min-width: 1200px) {
              .NavOuter {
                  width: 60%;
                  margin: 0 auto;
                  height: 42px;
                  padding: 0;
                  background-color: #ffffff;
                  border-style: inset;
                  border: 1px solid #727272;
                  border-radius: 0px 0px 30px 5px;
              }
              .NavBodyBig {
                  margin: auto;
                  width: 100%;
                  height: 90%;
                  padding: 0;
                  background-color: black;
                  border: 1px solid rgb(195, 195, 195);
                  border-radius: 0px 0px 20px 5px;
              }
          }
          
          .btn {
              width: 50px;
              height: 50px;
              border: 1px solid white;
              border-radius: 100%;
              background-color: black;
              border-bottom-style: outset;
              position: absolute;
              top: 30%;
              left: 45%;
          }
          
          .btn a {
              display: flex;
              width: 100%;
              height: 100%;
              justify-content: center;
              padding: 12px;
          }
          
          .btn img {
              width: 20px;
              height: auto;
          }
          
          .NavbarSmallBodyBottom {
              position: fixed;
              bottom: 0;
              left: 0;
              width: 100%;
              padding: 0;
              margin: 0;
          }
          /*Navbar End*/